body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}

main {
    width: 400px;
    margin: 60px auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
}

li {
    margin: 10px 0;
    cursor: pointer;
}
